<%-include("head")-%>

  <div id="container">
    <div id="navigation">
      <%-include("navigation")-%>
    </div>
    
    <div id="sections">
      <%-include("aboutSection")-%>
      <%-include("cardsSection")-%>
      <%-include("schoolSection")-%>
      <%-include("footer")-%>
  </div>

</div>
