<%-include("head")-%>

<script src="../public/scripts/scripts.js"></script>
 <script>
  function showDiv() {
    var showDiv = document.getElementById("show");
    var ikonka = document.getElementById("iconn")
    showDiv.style.display = "block";
    ikonka.style.display = "none";
  }
 </script>
  <div id="root">
    <div id="navigation">
      <%-include("navigation")-%>
 
    </div>
    <div id="navigationLogin" onclick="showDiv()">

      <img id="iconn"  src="../public/icons/account.svg" alt="account">
      <div id="show">
        <%-include("navigationLogin")-%>
      </div>

    </div>
    <div id="sections">
      <%-include("aboutSection")-%>
      <%-include("cardsSection")-%>
      <%-include("schoolSection")-%>
      <%-include("footer")-%>
  </div>

</div>
